<!DOCTYPE html>
<!--[if lt IE 7]>      <html ng-app="my.app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app="my.app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app="my.app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="my.app" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render( "~/Content/css" )
    @Scripts.Render( "~/bundles/modernizr" )
</head>
<body>
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">my|Application</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a data-ng-class="{ active: $state.includes('dashboard') || $state.includes('root') }" data-ng-href="#/">Home</a></li>
                <li><a data-ng-class="{ active: $state.includes('about') }" data-ng-href="#/about">About</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div data-ui-view class="container-fluid page-host">
        </div>
    </div>

    @Scripts.Render( "~/bundles/jquery" )
    @Scripts.Render( "~/bundles/angular" )

    @*
        The order in which files are loaded is:
        --> "~/app/modulesDefinitions.js",
        --> "~/app/appModule.js",
        --> "~/app/services/*.js",
        --> "~/app/presentation/*.js"
    *@

    @Scripts.Render( "~/bundles/bootstrap" )
    @Scripts.Render( "~/bundles/my-app" )
</body>
</html>
